html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color: #ffebcd;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 420px;
}

.box {
    flex: 1 0 25%;
    /* height: 70px; */
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    border: 0.1px solid #494949;
}

.full-width {
    flex: 0 0 100%;
}

.half-width {
    flex: 0 0 50%;
}

.button {
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 25px;
    border: none;
    outline: none;
    background-color: rgb(87, 87, 87);
    color: white;
}

.operations {
    background-color: rgb(224, 150, 21);
}

.operations:active {
    background-color: rgb(156, 99, 2);
}

.operations-other {
    background-color: rgb(92, 92, 92);
}

.operations-other:active {
    background-color: rgb(105, 105, 105);
}

.numbers {
    background-color: rgb(168, 168, 168);
}

.numbers:active {
    background-color: rgb(197, 197, 197);
}

.result {
    min-height: 80px;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
    align-items: end;
    font-size: 50px;
    padding: 10px;
    background-color: rgb(43, 43, 43);
    color: white;
}
